<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="ControlzEx" version="4.0.0-alpha0210" targetFramework="net452" />
  <package id="DotNetZip" version="1.12.0" targetFramework="net452" />
  <package id="Fluent.Ribbon" version="7.0.0-alpha0456" targetFramework="net452" />
  <package id="MicrosoftExpressionInteractions" version="3.0.40218.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
</packages>